{% extends 'inner-partials.html' %}
{% load static %}
{% block body %}
<style>
	.main_section.col-xs-12.col-sm-12.col-md-12 {
		width: 93%;
		background: #fff;
		padding: 50px;
		margin: 47px 33px;
	}
	a.btn.btn-info.btn-lg.add-offline-plus.add_representative_new_div {
		height: 33px;
		width: 20px;
	}
</style>
<!-- begin:: Page -->
	<div class="container">
		<div class="main_section col-xs-12 col-sm-12 col-md-12">
		<div class="main-div">
			<div class="panel-heading mb-3">
				<h3 class="panel-title text-center">data get <!-- <small>It's free!</small> --></h3>
			</div>
			<form id="employee_data_get_form" class="m-login__form m-form" method="get" action="{% url 'attendance-view' %}" >

                    <!-- {{ formset.management_data }} -->

			<div class="d-flex justify-content-center main_telnyx_sec">
				 <div class="col-md-8">
					<div class="form-group">
						<label for="Phone">start date:</label>
                         {{ form.start_date }}
					</div>
				 </div>
			</div>
			<div class="d-flex justify-content-center main_telnyx_sec">
				 <div class="col-md-8">
					<div class="form-group">
						<label for="Phone">end date:</label>
						 {{ form.end_date }}
					</div>
				 </div>
			</div>

                <!--<div class="form-group m-form__group content">{{ formset.as_p }}</div>  -->
                    <div class="m-login__form-action text-center">
                        <button id="employee_data_get_btn" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
                            Save
                        </button>
                    </div>
            </form>

			<!-- tabel section -->

			<table class="m-datatable" id="html_table" width="100%">
    <thead>
      <tr>
		<th title="Field #1">start Date</th>
		<th title="Field #2">start Time</th>
		  <th title="Field #1">End Time</th>
		<th title="Field #2">End Date</th>
	    <th title="Field #3">created_on </th>
	</tr>
    </thead>
    <tbody>
      {% for data in attendance  %}
		<tr>
			<td>{{data.start_date }}</td>
			<td>{{data.start_time }}</td>
			<td>{{data.end_time}}</td>
			<td>{{data.end_date}}</td>
			<td>{{data.created_on }}</td>
        <!--<td><a href="/update-step/{{ step.id }}"><img src="https://img.icons8.com/dusk/64/000000/edit.png" style="height:30px"></td> -->
		</tr>

	  {% endfor %}
    </tbody>
  </table>
			<!--p id="attendance_response"></p-->
			<div id='datainfo'>

            </div>
		</div>
	</div>
	</div>

<!-- end:: Page -->
{% endblock %}